body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#logo {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 120px;
    width: auto;
}

.marker {
    background-image: url('https://placehold.co/60x60');
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;   
}

#main-menu-button {
    position: fixed;
    bottom: 50px;
    right: 50px;

    width: 70px;
    height: 70px;
    
    background-image: url('../images/icons/marker.png');
    background-size: cover;

    border: none;
    cursor: pointer;

    background-color: transparent;
    opacity: 1;
}

.menu-button {
    position: fixed;
    bottom: 100px;
    right: 100px;

    border-radius: 50%;
    width: 80px;
    height: 80px;

    background-image: url('../images/icons/marker.png');
    background-size: cover;

    border: none;
    cursor: pointer;

    background-color: white;
}

.window-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 100;
}

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    background-color: rgba(150, 170, 180, 0.8);
    z-index: 101;
}

.window-header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgba(170, 190, 190, 0.8);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 102;
}

.window-header a {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;

    cursor: pointer;
}

.popup-image {
    width: 100px;
    height: 100px;
    max-width: 100px; 
    max-height: 100px;
}

.popup-description {
    text-overflow: ellipsis;
    max-width: 100px;
}

#paths-content {
    position: fixed;
    z-index: 10;

    width: 25%;
    height: 100%;
    background-color: #A2BDCE;
    
    display: grid;
    overflow-y: auto;
    justify-items: center;
}

.path {
    margin: 30px;

    background-color: white;
    width: 85%;
    height: 300px;

    border-radius: 15px;

    display: grid;
    justify-items: center;
    cursor: pointer;
}

.path img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.path h3 {
    margin-top: 13px;
    font-size: 26px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.path-about {
    position: fixed;
    display: grid;
    justify-items: center;
}

.path-about img {
    width: 90%;
    border-radius: 10px;
}

.path-about h3 {
    font-size: 30px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.path-description {
    width: 100%;
    padding-left: 50px;
    padding-top: 20px;
}

.path-description h2 {
    font-size: 26px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.path-description p {
    font-size: 20px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}