:root{
    font-family: Inter, system-ui, Avenir, Arial, Helvetica, sans-serif;
  }

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#logo {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 120px;
    width: auto;
}

.marker {
    background-image: url('https://placehold.co/60x60');
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;   
}

#main-menu-button {
    position: fixed;
    bottom: 50px;
    right: 50px;

    width: 70px;
    height: 70px;
    
    background-image: url('../images/icons/marker.png');
    background-size: cover;

    border: none;
    cursor: pointer;

    background-color: transparent;
    opacity: 1;
}


.menu-button {
    position: fixed;
    bottom: 100px;
    right: 100px;

    border-radius: 50%;
    width: 80px;
    height: 80px;

    background-image: url('../images/icons/marker.png');
    background-size: cover;

    border: none;
    cursor: pointer;

    background-color:#A2BDCE;
}

.profile-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 100;
}

.block_mini{
    display: flex;
}

.block_mini ul{
    font-size: 20px;
    color: #e5ebef;
    list-style-type: none;
    text-decoration: none;
    margin-top: 70px;
    line-height: 40px;
    padding:0;
}

.profile{
    order: 1;
    margin-top: 601px;
    margin-left: -360px;
    width: 1000px;
    height: 495px;
    background-color: transparent;
}

.image_profile{
    height: 200px; 
    width: 200px;
    margin: 50px;
    background-color: #d1d9df;
    border-radius: 50%;
    background-size: cover;
}

.block_mini_1{
    display: flex;
    
}

.setting{
    margin-top: 601px;
    margin-left: -495px;
    width: 1000px;
    height: 495px;
    background-color: transparent;
    display: flex;
}

.image_setting{
    height: 250px; 
    width: 250px;
    background-color: #d1d9df;
    border-radius: 50%;
     margin-left: 130px;
     margin-top: 50px;
}

.form_setting{
    width: 270px;
    height: 360px;
    border: 2px solid black;
    margin-left: 160px;
    margin-top: 30px;
}
.form_setting p{
    color: #fff;
    font-size: large;
    text-align: center;
}
.card{
    margin-top: 601px;
    margin-left: -224px;
    width: 1000px;
    height: 495px;
    background-color: transparent;
}

.block_mini_2{
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.block-content{
    width: 600px;
}

.card1{
    display: flex;
    flex-direction: row;
}

.button-exit1{
    background-image: url("../images/icons/exit.png");
    width: 35px;
    height: 35px;
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 14px;
    margin-left: -23px;
}

.card-content{
    height: 120px;
    width:  70px;
    background-color:#d1d9df;
    float:left; 
    margin-right:50px;
    margin-bottom:30px; 
    overflow:hidden;
    
}

.cards-info{
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}

.card-text  {
    color: #fff;
    margin-left: 10px;
    font-size: large;
}

.card-info{
    height: 290px;
    width: 210px;
    background-color:#d1d9df;
}

.card-text-info{
    color:#fff;
    height: 100px;
    width: 270px;
}


.content_form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.text{
    color: #fff;
}

.form_content_setting input {
    background-color: transparent;
    border: none;
    outline: none;
}

.button_form{
    background-image: url(../images/icons/convert.png);
    opacity: 0.8;
    height: 16px;
    width: 16px;
    background-color: transparent;
    background-size: cover;
    border: none;
    margin-top: 5px;
    margin-left: 12px;
    cursor: pointer;
}

.content_button{
    display: flex;
    flex-direction: row;
}

.image_convert{
    display: flex;
    flex-direction: column;
}

.image_convert p{
    color:#fff;
    align-items: center;
    margin-left: 180px;
    margin-top: 10px;
}

.button_image{
    background-image: url(../images/icons/convert.png);
    opacity: 0.8;
    height: 24px;
    width: 24px;
    background-color: transparent;
    background-size: cover;
    border: none;
    margin-top: 10px;
    margin-left: 12px;
    cursor: pointer;
}

.button_exit{
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: large;
    font-family: inherit;
    margin-left: 400px;
    margin-top: 30px;
}

.btn {
    display: flex;
}

.btn_ {
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5ebef;
}
.btn_:hover{
    color: white;
}


[type="radio"], .profile, .setting, .card {
    display: none;
}

#profile:checked ~ .profile,
#setting:checked ~ .setting,
#card:checked ~ .card{
    display: block;
}





.profile-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background-color: rgba(150, 170, 180, 0.8);
    z-index: 101;
}

.profile-header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgba(170, 190, 190, 0.8);
    display: flex;
    align-items: center;
    justify-content:baseline;
}

.profile-header a {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    color: #d1d9df;
    transition: all 0.5s;
}

.profile-header a:hover{
    font-size: 25px;
    color: #fff;
}


.button-exit{
    background-image: url("../images/icons/exit.png");
    width: 35px;
    height: 35px;
    margin-left: 10px;
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.popup-image {
    width: 100px;
    height: 100px;
    max-width: 100px; 
    max-height: 100px;
}

.popup-description {
    text-overflow: ellipsis;
    max-width: 100px;
    
}

#paths-menu {
    position: fixed;
    z-index: 10;

    width: 25%;
    height: 100%;
    background-color: #A2BDCE;
    
    display: grid;
    overflow-y: auto;
    justify-items: center;
}

.path {
    margin: 30px;

    background-color: white;
    width: 85%;
    height: 300px;

    border-radius: 15px;

    display: grid;
    justify-items: center;
    cursor: pointer;
}

.path img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.path h3 {
    margin-top: 13px;
    font-size: 26px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.path-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.path-about img {
    width: 90%;
    border-radius: 10px;
}

.path-about h3 {
    font-size: 30px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.path-description {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
}

.path-description h2 {
    font-size: 26px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.path-description p {
    font-size: 20px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mapboxgl-popup-content {
    background: none;
    background-image: url("../images/card/card.png");
    background-size: cover;
    border-radius: 3px;
    box-shadow: none;
    padding: 10px 10px 15px;
    pointer-events: auto;
    position: relative
    
}

.popup-content{
    display:table;
    height: 250px;
    width: 200px;
    padding-top:28px;
}

.popup-content h3{
    display:table-header-group;
    text-align: center;
    max-width: 10px;
}

.popup-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.popup-description{
    display: block;
    justify-content: center;
    text-align: center;
    max-width:max-content;
}
.popup-button-plus{
    position: absolute;
    top:13px;
    left: 13px;
    background-image: url("../images/card/plus-card.png");
    cursor: pointer;
    background-size: cover;
    height: 27px;
    width: 27px;
    border: none;
    background-color: transparent;
}

.mapboxgl-popup-close-button{
    background-image: url("../images/card/close-card.png");
    background-color: transparent;
    background-size: cover;
    height: 18px;
    width: 18px;
    top: 17px;
    right: 13px;
}

.popup-button-details{
    background-image: url("../images/card/details-card.png");
    background-color: transparent;
    background-size: cover;   
    height: 24px;
    width: 30px;
    border: none;
    background-position: center;
    margin-left: 58px;
    cursor: pointer;
}

.popup-button-place{
    background-image: url("../images/card/place-card.png");
    background-color: transparent;
    background-size: cover;   
    height: 33px;
    width: 26px;
    border: none;
    cursor: pointer;
}

.block-content-phone{
    display: none;
}

@media (max-width: 400px){
    #paths-menu {
        width: 60%;
    }

    .path{
        height: 200px;
    }

    .path h3{
        font-size: 16px;
    }

    .profile-window{
        width: 300px;
    }

    .button-exit{
        background-image: url("../images/icons/exit.png");
        width: 30px;
        height: 30px;
        margin-left: 10px;
        margin-left: 10px;
        background-size: cover;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding-right: 10px;
    }

    .btn {
        display: flex;
        font-size: 14px;
        gap: 12px;
    }

    .btn_ {
        width: 71px;
        height: 0px;
    }

    .profile{
        margin-top: 584px;
        margin-left: -220px;
        width: 495px;
    }

    .block_mini{
        display:contents;
    }

    .image_profile{
        height: 150px; 
        width: 150px;
        margin-top: 52px;
        margin-left: 52px;
    }

    .block_mini ul{
        font-size: 19px;
        margin-top: 0px;
        line-height: 40px;
        padding-left: 68px;
    }
    .card{
        margin-left: -313px ;
        width: 516px;
    }

    .form_setting{
        width: 260px;
        height: 350px;
        border: 2px solid black;
        margin-left: 240px;
        margin-top: 30px;
    }

    .image_convert{
        display: none;
    }

    .block-content {
        display: none;
    }

    .block-content-phone {
        display: block;
        width: 390px;
        margin-left: 175px;
    }

    .block_mini_2{
        display: grid;
    }

    .card-content {
        height: 90px;
        width: 60px;
    }

    .cards-info {
        margin-left: 217px;
        margin-top: -37px;
    }

    .card-info {
        margin-left:-10px ;
        height: 121px;
        width: 213px;
        background-color: #d1d9df;
    }

    .card-text-info{
        margin-left: -37px;
        text-align: center;
    }
}
